@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa&family=Merienda&family=Oswald&display=swap');

body {
	background: url(images/home.jpeg);
	background-size: cover;
	background-position: center;
	font-family: "Lato", sans-serif;
}

html, body{
	height: 100%;
}

#nav {
	opacity: 0.6;
}

.nav-link {
	font-family: Oswald, sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.4),
		0px 18px 23px rgba(0, 0, 0, 0.4);
}
h1 {
	font-weight: 700;
	color: white;
	font-size: 5em;
}

h3 {
	color: white;
}

h2 {
	color: white;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
