@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa&family=Merienda&family=Oswald&display=swap');

body {
	background: url(images/home.jpeg);
	background-size: cover;
	background-position: center;
	font-family: "Lato", sans-serif;
}

html {
	height: 100%;
}

#nav {
	opacity: 0.6;
}

.nav-link {
	font-family: Oswald, sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
}

#content {
	display: flex;                  /* Use Flexbox for centering */
	flex-direction: column;          /* Stack children vertically */
	justify-content: center;         /* Center children vertically */
	align-items: center;             /* Center children horizontally */
	text-align: center;
	height: 50vh;                   /* Take full viewport height */
}

h1 {
	font-weight: 700;
	color: white;
	font-size: 5em;
	background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
	color: white;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.4),
	0px 18px 23px rgba(0, 0, 0, 0.4);
}

.subheader {
	color: white;
	width: 22ch;
	white-space: nowrap;
	overflow: hidden;
	animation: cursor 1s step-start, 
		text 3s steps(40);
}
  
  @keyframes text {
	0% { 
	  width: 0; 
	}
	100% { 
	  width: 22ch; 
	}
  }

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
