@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa&family=Merienda&family=Oswald&display=swap');

html {
  height: 100%;
	width: 100%;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#nav {
	opacity: 0.9;
}

.nav-link {
	font-family: Oswald, sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
}

#content {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.4),
    0px 18px 23px rgba(0, 0, 0, 0.4);
}

h1 {
  font-weight: 700;
  color: gray;
  font-size: 5em;
}

h2 {
  color: gray;
}

h3 {
  color: white;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.jumbotron {
  margin-top: 50px;
  padding-bottom: 10px;
  color: #384b65;
  background: #ecf0f1;
  opacity: 0.8;
}

.social-icons {
	padding-left: 0px;
	padding-top: 20px;
	margin-bottom: 0px;
}

.social-icons li {
  display: block;
  margin-bottom: 5px;
  vertical-align: middle;
}

.social-icons a {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  word-break: break-all;
}

.social-icons span {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
}
